<div id='about-modal' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>x</button>
        <h3 id='myModalLabel'>About Degust</h3>
      </div>
      <div class='modal-body'>
        <p>Degust : Visualize, explore and appreciate RNA-seq differential gene-expression data.</p>
        <p>Version : {{version}}  (See <a target='_blank' href='https://raw.github.com/drpowell/degust2/master/Changelog.txt'>Changelog</a>)</p>
        <p>Visit the <a href='http://degust.org/'>Degust project page</a>,
        or the <a href='https://github.com/drpowell/degust2'>source code on GitHub</a>
        </p>
        <div>Written by <a href='http://thunking.drp.id.au/'>David R. Powell</a> (<a href='http://twitter.com/d_r_powell'>@d_r_powell</a>)</div>
        <hr/>
        <div class='supported-by'>
          Supported by:
          <div>
            <a href='https://platforms.monash.edu/bioinformatics/'>Monash Bioinformatics Platform, Monash University</a>
          </div>

          <div style='margin-top: 10px;'>
            Past Support:
            <a href='http://vicbioinformatics.com/'>Victorian Bioinformatics Consortium, Monash University</a>
            <a href='http://www.vlsci.org.au/lscc'>VLSCI's Life Sciences Computation Centre</a>
          </div>
        </div>
      </div>
      <div class='modal-footer'>
        <button class='btn btn-primary' data-dismiss='modal' aria-hidden='true'>Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
   
