<div class='browser-warning'>
  <button type="button" class="close" onclick="$('.browser-warning').hide();">x</button>
  <h1>Internet Explorer is not supported</h1>
  <p>Please use <a href='http://www.mozilla.org/en-US/firefox/new/'>Firefox</a> or <a href='http://www.google.com/chrome/'>Chrome</a></p>
</div>

