<div class="container">
  <div class="jumbotron">
    <h1>Degust</h1>
    <p><a href='{{home_link}}'>Degust</a> failed to load your data :(</p>
    <p>Error</p>
    <div class='error-msg'></div>
  </div>
</div>
